<ion-view view-title="Help">
    <ion-content>
        <br/>
        <br/>
        Der Quellcode dieses Programms finden sie auf github :<br/>
        <a href="#" onclick="window.open('https://github.com/ahackl/HPcomfort',
         '_system', 'location=yes'); return false;">
            https://github.com/ahackl/HPcomfort
        </a>
        <br/>
        <br/>
        Anregungen und Fehler können hier gemeldet werden:<br/>
        <a href="#" onclick="window.open('https://github.com/ahackl/HPcomfort/issues',
         '_system', 'location=yes'); return false;">
            https://github.com/ahackl/HPcomfort/issues
        </a>
    </ion-content>
</ion-view>
