<ion-view view-title="Settings">
  <ion-content>
    <form ng-submit="saveSettings()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="$storage.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="text" ng-model="$storage.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Server</span>
          <input type="text" ng-model="$storage.server">
        </label>
        <label class="item item-input">
          <span class="input-label">OID for Comfort</span>
          <input type="text" ng-model="$storage.oidComfort">
        </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Startpage
        </div>
        <select ng-model="$storage.startState" ng-options="onePage.name for onePage in $storage.allowedStates track by onePage.state"></select>
      </label>
<!--
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save settings</button>
        </label>
-->
      </div>

    </form>
    <br/>
      Version: {{appVersion}}
    <br/>
    Das Kennwort wird unverschlüsselt gespeichert.

  </ion-content>
</ion-view>
