<div class="modal">
    <div class="bar bar-header bar-stable">
        <ion-button class="button icon-left ion-close-round button-clear" ng-click="closeModalCancel()"></ion-button>
        <h1 class="title">Add status item</h1>
        <ion-button class="button icon-right ion-checkmark-round button-clear" ng-click="closeModalSave()"></ion-button>
    </div>

    <ion-content class="has-header">
        <ion-list>
            <li class="item item-input item-stacked-label">
                <span class="input-label positive text-bold">Description</span>
                <input type="text" placeholder="" name="description" ng-model="dialogData.description" required />
            </li>
            <li class="item item-input item-stacked-label">
                <span class="input-label positive text-bold">SOAP ID</span>
                <input type="text" placeholder="" name="soapid" ng-model="dialogData.soapid" required />
            </li>
        </ion-list>
    </ion-content>
</div>